/Problema2/nbproject/private/
/Problema2/build/
/Problema3/nbproject/private/
/Problema3/build/
/Problema4/nbproject/private/
/paquetes/nbproject/private/
/Problem4/nbproject/private/
/Problem4/build/